body{font-family: 'DM Serif Display', sans-serif; margin: 0;}
html,body{
    height: 100%;
    margin: 0;
}

a{text-decoration: none;}
h1, h2, h3, h4, p{color: #000; padding-bottom: 30px;}
p{
    line-height: 28px;
    color: rgb(131, 141, 151);
    font-weight: 300;
}

.cw{color: #fff;}
.mg1{margin-top: 50px;}

.big-text{font-size: 70px; font-weight: 300;}
.normal-text{font-size: 20px; font-weight: 100}
.small-text{font-size: 15px;}

.button{
    background: darkblue;
    padding: 10px 20px;
    border-radius: 5px;
}



.header{
    width: 100%;
    position: fixed;
    height: 100px;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 0;
    display: flex;
    background: black;
    align-items: center;
}
.logo{
    padding: 7.5px 7.5px;
    z-index: 1;
}
.menu{
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    width: 100%;
    padding: 0px;
    z-index: 0;
}
.menu li{
    display: inline-block;
}
.menu li a {
    color: white;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.mcell{display: none;}

@media(max-width: 768px){
    .menu{position: absolute; top: 0; right: -100%; background: #000;height: 100vh; padding-top: 88px;}
    .menu li{display: block;}
    .menu li a{padding: 15px 30px; font-size: 20px;}

    .menu--open{right: 0%;}

    .mcell{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 40px;
        right: 30px;
    }

    .mcell span{background: #fff; height: 3px; width: 100%; display: block; margin-bottom: 5px;}
}

.hero{
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
    background-size: cover;
    overflow: hidden;
}
.hero:after{
    content: ' ';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0; left: 0;
    background: #000;
    opacity: 0.4;
}
.hero__content{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    z-index: 1;
    position: relative;
}
.hero__content h1{
    color: #fff;
}
.hero--small{
    height: 450px;
    text-align: center;
}



#video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}



.poster1{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}

.poster1__img{width: 40%; height: 100%;}
.poster1__img img{object-fit: cover; width: 100%; height: 100%;}

.poster1__content{
    width: 60%;
    padding-right: 25px;
    padding-left: 25px;
}

.poster1__content h4,
.poster1__content h3{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.poster1__content p{
    margin-top: 0;
    padding-bottom: 0;
}

@media(max-width: 1170px){
    .poster1{flex-wrap: wrap; height: auto;}

    .poster1__img,
    .poster1__content{width: 100%;}
}

.cards{
    max-width: 1000px;
    margin: 50px auto;
}
.card{border: 3px solid black; width: 30%; margin: 0 1.5%; background: #fff; float: left;}
.card__image{width: 100%; height: auto;}
.card__copy{padding: 5px 20px;}
.card__copy h3{margin-bottom: 0; padding-bottom: 20px;}
.card__copy p{margin-top: 0;}

.poster4{
    display: flex;
    align-items: center;
    width: 100%;
}
.poster4__content{
    width: 50%;
    transform: translateX(-25%);
    padding: 0;
}
.poster4__content h3, 
.poster4__content p{
    margin-bottom: 0;
    margin-top: 0;
}
.poster4__img{
    height: 700px;
    width: 700px;
    border-radius: 100%;
    line-height: 700px;
    margin-right: 40px;
    margin-top: 60px;
    overflow: hidden;
    transform: translateX(-50%);
}



#videosole{
    transform: translateX(-25%);
    margin-top: -15px;
}

#videopianeti{
    position: absolute;
    top: -80%;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
}

.poster1p{
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
}
.poster1p__img{
    height: 100%;
    width: 50%;
}
.poster1p__img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.poster1p__content{
    padding: 20px;
    width: 50%;
}



.poster2p{
    padding: 50px 0;
}
.poster2p-cell{
    height: 300px;
    width: 300px;
    background: darkblue;
    border-radius: 100%;
    line-height: 300px;
    text-align: center;
    margin-right: 50px;
}
.poster2p-cell a{
    color: #fff;
}


.heropianeti{
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 20px;
    background: #000;
    align-items: center;
    margin-bottom: 0px;
}
.heropianeti__img{
    width: 60%;
    height: 80%;
}

.heropianeti__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.heropianeti__content{
    text-align: center;
    width: 40%;
    height: 50%;
    margin-right: 60px;
    background: rgb(247, 245, 245);
    border-radius: 5%;
}



.gaiaemarty{
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.9), rgba(0,0,0,0.6)), 
        url("gaia e marty.JPG") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.col1{
    padding: 30px;
    width: 30%;
    margin-top: 100px;
}
.col2{
    padding: 20px;
    width: 70%;
    margin-top: 100px;
}

.col2 h3{
    padding-bottom: 0;
    margin-bottom: 0;
}







*,*::before,*::after{
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}